# The .dockerignore file excludes files from the container build process.
#
# https://docs.docker.com/engine/reference/builder/#dockerignore-file

# Exclude Git files
.git
.github
.gitignore

# Exclude Python cache files
__pycache__
.mypy_cache
.pytest_cache
.ruff_cache

# Exclude Python virtual environment
.venv
/venv

# Misc
config_dreambooth.json
config_xlora.json
config_dreambooth_args.json
config_xlora_args.json
/datasets
experiments.py